.bg-primary-light {
    background-color: #d6e0ff;
    --#{$prefix}badge-color: #2b57da;
}

.bg-secondary-light {
    --#{$prefix}badge-color: #666666;
    background-color: #e2e6ed;
}

.bg-success-light {
    --#{$prefix}badge-color: #007b47;
    background-color: #ccf7e5;
}

.bg-info-light {
    --#{$prefix}badge-color: #286da5;
    background-color: #d7eff6;
}

.bg-warning-light {
    --#{$prefix}badge-color: #946c00;
    background-color: #fdf3d9;
}

.bg-danger-light {
    --#{$prefix}badge-color: #c40e33;
    background-color: #feecf0;
}