.flatpickr-day {
    border-radius: $border-radius;
    color: $body-color;
    &:hover, &:focus {
        border-color: $gray-400;
        background: $gray-300;
    }
    &.selected {
        background: $primary;
        border-color: $primary;
        color: $white;

        &:hover {
            background: $primary;
            border-color: $primary;
        }
    }
    &.today {
        background: $white;
        border-color: $gray-300;

        &:hover {
            background: $white;
            border-color: $gray-300;
            color: $body-color;
        }
    }
    &.prevMonthDay, &.nextMonthDay {
        &:focus, &:hover {
            color: $gray-500;
            border-color: $gray-400;
            background: $gray-300;
        }
    }
}

span.flatpickr-weekday {
    color: $body-color;
}

.flatpickr-current-month {
    .flatpickr-monthDropdown-months {
        font-size: initial;
    }
    .numInputWrapper {
        font-size: initial;
    }
}


.flatpickr-months {
    .flatpickr-prev-month, .flatpickr-next-month {
        svg {
            vertical-align: top;
        }
        &:hover svg {
            fill: $primary;
        }
    }
}
