//
// Remove the cancel buttons in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// Form control flush
//
// Removes borders and paddings from inputs and text areas

.form-control-flush {
  padding-left: 0;
  padding-right: 0;
  border-color: transparent !important;
  background-color: transparent !important;
  resize: none;
}
